.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* padding: 4rem 6rem; Remove while Media Queries */
  padding: 4rem 6rem;
}

.heading {
  font-weight: 500;
  font-size: 2.1rem;
  font-family: "Archivo", sans-serif;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 0.7rem;
  padding: 0 30px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #6b46c1;
}
.colors .active {
  border: 2px solid #000;
}

.toolbar button {
  display: flex;
  font-family: "Archivo", sans-serif;
  border-radius: 5px;
  background-color: #6b46c1;
  color: #ffffff;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
