.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
}

input {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
  background: #edf2f7;
}

::placeholder {
  color: #a7abb7;
}


input:hover {
  border: none;
  background: #d8e0e8;
}

input:focus {
  background: #fff;
  border: 2px solid #6b46c1;
}
